.summaryDisplay{
  
  padding: 10px;
  border-radius: 5px;
  margin-top: 23px;
  position: relative;
  margin: 15px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.summaryDisplay:hover{
  box-shadow: 0 14px 18px 0 rgba(0, 0, 0, 0.12), 0 16px 20px 0 rgba(0, 0, 0, 0.19);
  transition: 0.2s;
}

.actualLocation{
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
#name{
  font-size: 20px;
}

#cityName{
  font-size: 30px;
  text-align: center;
}
#time{
  font-size: 20px;
  text-align: center;
}
#temp{
  font-size: 30px;
  text-align: center;  
}

.desc{
  color: gray;
  text-align: center;
  font-size: 15px;
}
.data{
  font-size:20px;
  text-align: center;
}